@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Dancing+Script:wght@400..700&family=Libre+Barcode+39+Text&family=Montserrat+Subrayada:wght@400;700&family=Mrs+Saint+Delafield&family=Playwrite+SK:wght@100..400&family=Staatliches&display=swap');

/* Adds space between the vid and pics */
section {
  margin-bottom: 20px;
}

/* Fit and aspect ratio of vid */
video {
  max-width: 100%; 
  height: auto;   
}

/* Horizontal scroll img gallery + snaps to closest pic + space etc. */
.image-container {
  display: flex;
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  gap: 10px; 
  padding: 10px;
  padding-top: 0px;
  margin-top: 0;
}

/* Individual pics: keep the ratio and align them, round them */
.image-container img {
  flex: 0 0 auto;
  width: 150px;
  height: auto; 
  scroll-snap-align: start; 
  border-radius: 5px;
  object-fit: cover;
}

/* Pic 50% opaque when hovered over */
.image-container img:hover {
  opacity: 0.5;
}

/* Hides the bottom scrollbar */
.image-container::-webkit-scrollbar {
  display: none;
}

/* Titles of sections leftaligned */
.header-editor {
  text-align: left;
  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: 400px;
  font-size: 90%;
  color:rgba(0, 0, 0, 0.904);
}

.header-editor h2 {
  margin-bottom: 0;
  padding-bottom: 0px;
}

.header-editor p {
  margin-top: 8px;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.2;
  white-space: pre-line;
  text-align: justify;
}